@{
    ViewData["Title"] = PageTitles.Size;
}
<div id="gridSizes" aria-label="Danh sách kích thước"></div>

@section Scripts {
    <script>
        $(function () {
                    $("#gridSizes").dxDataGrid({
            dataSource: new DevExpress.data.CustomStore({
                key: "id",

                load: function() {
                    return $.getJSON("/size/get-all"); 
                },

                insert: function(values) {
                    return $.ajax({
                        url: "/size/save",
                        method: "POST",
                        data: JSON.stringify(values),
                        contentType: "application/json"
                    });
                },

                update: function(key, values) {
                    values.id = key; 
                    return $.ajax({
                        url: "/size/save",
                        method: "POST",
                        data: JSON.stringify(values),
                        contentType: "application/json"
                    });
                },

                remove: function(key) {
                    return $.ajax({
                        url: "/size/" + key,
                        method: "DELETE"
                    });
                }
            }),

            keyExpr: "id",
            paging: { pageSize: 10 },
            pager: { showPageSizeSelector: true, allowedPageSizes: [10,20,50], showInfo: true },
            searchPanel: { visible: true, placeholder: "Search..." },
            editing: { mode: "batch", allowAdding: true, allowUpdating: true, allowDeleting: true },
            columns: [
                { dataField: "name", caption: "Tên kích thước", validationRules: [{ type: "required" }] },
                { dataField: "createdAt", caption: "Ngày tạo", dataType: "date", format: "dd/MM/yyyy", allowEditing: false }
            ]

        });
      });
    </script>
}
