@{
    ViewData["Title"] = PageTitles.Color;
}

<div id="gridColors" aria-label="Danh sách màu sắc"></div>

@section Scripts{
<script>
    $(function() {
        $("#gridColors").dxDataGrid({
            dataSource: new DevExpress.data.CustomStore({
                key: "id",
                load: function(){
						return $.getJSON("/color/get-all");
                },
                insert: function(values){
                    return $.ajax({
                        url: "/color/save",
                        method: "POST",
                        data: JSON.stringify(values),
                        contentType: "application/json"
                    });
                },
                update: function(key, values){
                    values.id = key;
                    return $.ajax({
                        url: "/color/save",
                        method: "POST",
                        data: JSON.stringify(values),
                        contentType: "application/json"
                    });
                },
                remove: function(key){
                    return $.ajax({
                        url: "/color/" + key,
                        method: "DELETE"
                    });
                },
            }),
            keyExpr: "id",
            paging: { pageSize: 10},
            pager: { showPageSizeSelector: true, allowedPageSizes: [10, 20, 50], showInfo: true},
            searchPanel: { visible: true, placeholder: "Search..."},
				editing: { mode: "batch", allowAdding: true, allowUpdating: true, allowDeleting: true},
                columns:[
                    { dataField: "name", caption: "Color Name", validationRules: [{ type: "required"}]},
                    { dataField: "code", caption: "Hex Code",
                    cellTemplate: function(container, options) {
                        var colorBox = $("<div>").css({
                            width: "20px",
                            height: "20px",
                            backgroundColor: options.value,
                            border: "1px solid #000"
                        });
                        container.append(colorBox);
						},
						validationRules: [{ type: "required"}]},
					{ dataField: "createdAt", caption: "Created At", dataType: "date", format: "dd/MM/yyyy", allowEditing: false}
                ]


        });
    });
</script>
}