@{
    ViewData["Title"] = PageTitles.Brand;
}

<div id="gridBrand" aria-label="Danh sách thương hiệu"></div>

@section Scripts {
    <script>
        $(function(){
            $("#gridBrand").dxDataGrid({
                dataSource: new DevExpress.data.Customstore({
                    key: "id",
                    load: function(){
                        return $.getJSON("/brand/get-all");
                    },
                }),
				keyExpr: "id",
                paging: { pageSize: 10 },
				pager: { showPageSizeSelector: true, allowedPageSizes: [10,20,50], showInfo: true },
				searchPanel: { visible: true, placeholder: "Search..." },
				editing: { mode: "batch", allowAdding: true, allowUpdating: true, allowDeleting: true },
                columns: [
                    { dataField: "name", caption: "Brand Name", validationRules: [{ type: "required" }] },
                    { dataField: "country", caption: "Brand Country", validationRules: [{ type: "required" }] },
                    { dataField: "logo", caption: "Brand Logo" },
                    { dataField: "status", caption: "Brand Status", validationRules: [{ type: "required" }] },
                    { dataField: "createdAt", caption: "Created At", dataType: "date", format: "dd/MM/yyyy", allowEditing: false }
				]
            });
        });
    </script>
}