@{
    ViewData["Title"] = PageTitles.Product;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@AppRoutes.Home">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">@PageTitles.Product</li>
    </ol>
</nav>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@PageTitles.Product</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="/products/form" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> Thêm mới
        </a>
    </div>
</div>